.filter-popup-button {
    display: flex;
    gap: 0.5rem;

    &.selection {
        padding-inline: 1.25rem;
        flex-direction: column;
        border-top-left-radius: 0;
    }

    .badge {
        display: inline-block;
        transform: translateY(1px);
    }

    .value {
        font-weight: 400;
    }

    :deep(.badge.alone) {
        --badge-height: 1.8rem;
        font-size: 0.8em;
        padding: 0.2rem 0.5rem;
        margin-inline: 0.5rem;
        transform: translateY(-0.2rem);

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.filter-popup-button-text {
    .selection & {
        font-size: 1.2rem;
        opacity: 0.7;
    }
}

:deep(.filter-widget) {
    //

    .filter-dialog {
        min-width: 25rem;
    }

    .filter-dialog-header {
        //
    }

    .filter-dialog-body {
        padding: 0 !important;

        .list-input {
            .list-selection {
                border-color: transparent !important;
            }
        }

        textarea {
            border-color: transparent !important;
        }
    }

    .filter-dialog-footer {
        //
    }
}

.filter-footer-ui {
    display: flex;
    font-size: 1.4rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .btn {
        font-size: inherit;
        padding: 0.5rem 1rem;
        height: unset;
    }
}
